$search-container-dimension: 40px;
$icon-container-dimension: 24px;

.search-container {
    padding: .3rem .3rem .3rem 1rem;
    background-color: var(--white);
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 3.125rem;

    .location-icon-container {
        width: $icon-container-dimension;
    }

    input {
        outline: none;
        border: none;
        width: calc(100% - #{$icon-container-dimension} - #{$search-container-dimension});
        // border: 1px solid blue;
        padding: 0 .5rem;
        background: none;
    }

    .btn-search-container {
        width: $search-container-dimension;
        height: $search-container-dimension;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--red);
        outline: none;
        border: none;
        cursor: pointer;

        .btn-search {
            color: var(--white);
        }
    }
}