<div class="tabs-container">
    <div class="tab active">
        <span class="material-icons-outlined btn-search">
            home
        </span>
        <div class="label">Home</div>
    </div>

    <div class="tab">
        <span class="material-icons btn-search">
            search
        </span>
        <div class="label">Search</div>
    </div>

    <div class="tab">
        <span class="material-icons-outlined btn-search">
            calendar_today
        </span>
        <div class="label">My Bookings</div>
    </div>

    <div class="tab">
        <span class="material-icons-outlined btn-search">
            person
        </span>
        <div class="label">Profile</div>
    </div>
</div>