@import 'swiper/scss';
@import 'swiper/scss/navigation';
@import 'swiper/scss/pagination';

$tabs-container: 60px;

.container {
    // height: 100vh;
}

.content {
    height: calc(100vh - #{$tabs-container});
    overflow-y: auto;

    .hero-container {
        background-image: url("/assets/hero.jpg");
        height: 170px;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;

        .light-black {
            position: absolute;
            inset: 0;
            background-image: linear-gradient(to bottom, rgba(0, 0, 0, .1), rgba(0, 0, 0, .5));
            z-index: 1;
        }

        .top-area-content-container {
            z-index: 2;
            position: relative;
        }
    }
}

.tabs-container {
    height: $tabs-container;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.toolbar {
    display: flex;
}

.search-container {
    padding: 0 1rem;
    margin-bottom: var(--default-spacing);
}

app-toolbar {
    margin-bottom: var(--default-spacing);

    .header-1 {
        color: var(--white);
    }

    .actions-container {
        display: flex;
        align-items: center;
        span + span {
            padding: 0 0.2rem;
            color: var(--white);
        }
        .material-icons {
            color: var(--white);
            &.location {
                color: var(--red);
            }
        }
    }
}



.dynamic-content {
    background-color: var(--white);
    width: 100%;
    margin-top: -2rem;
    position: relative;
    z-index: 10;
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;
    min-height: 100px;
    padding: var(--default-spacing) var(--default-spacing) 0  var(--default-spacing);
    
    .destinations-list-container {
        display: flex;
        gap: .5rem;
        width: calc(100% + 2rem);
        overflow: auto;
        margin-left: -1rem;
        padding: 0 var(--default-spacing);
        margin-top: var(--default-spacing);
        margin-bottom: var(--default-spacing);
    }

    .explore-area {
        margin-bottom: var(--default-spacing);

        width: 100%;
    }
    
    .popular-providers {

        .providers-list-container {
            display: flex;
            gap: .5rem;
            width: calc(100% + 2rem);
            overflow: auto;
            margin-left: -1rem;
            padding: 0 var(--default-spacing);
            margin-top: var(--default-spacing);
            margin-bottom: var(--default-spacing);
        }
    }

    .departing-container {
        margin-bottom: var(--default-spacing);
        .header-1 {
            display: flex;
            align-items: center;

            span:nth-child(3n) {
                color: var(--lighter-black);
                font-size: .9rem;
            }
        }

        .departing-list-container {
            display: flex;
            gap: 1rem;
            width: calc(100% + 2rem);
            overflow: auto;
            margin-left: -1rem;
            padding: 0 var(--default-spacing);
            margin-top: var(--default-spacing);

            // .carousel {
            //     margin-top: var(--default-spacing);
            //     height: 180px;
            //     overflow: hidden;
            // }
        }
    }

    .carousel {
        .swiper-slide img {
            border-radius: .8rem;
        }
    }
}
